<div class="container">

        <div class="row">
            <div class="col-md-1">
                <button class="btn btn-outline-dark" (click)="prevMonth()"><i class="fas fa-chevron-left"></i></button>
            </div>
            <div class="col-md-10">
                <h1>{{thisMonth}}</h1>
                <p>{{daysOfMonth}} days</p>

            </div>
            <div class="col-md-1">
                <button class="btn btn-outline-dark" (click)="nextMonth()"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
        </div>

        

    <app-month [currentMonth] = 'thisMonth' [daysOfMonth] = 'daysOfMonth'></app-month>
</div>