<div class="container-fluid" >
        <div class="row">
            <div class="col-sm-1">
                <button class="btn btn-outline-dark" (click)="prevMonth()"
                tooltip="previous month"><i class="fas fa-chevron-left"></i></button>
            </div>
            <div class="col-sm-10" style="text-align: center">
                <h1>{{thisMonth}} {{thisYear}}</h1>
                <p>{{daysOfMonth}} days</p>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-outline-dark" (click)="nextMonth()"
                tooltip="next month"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    <app-month [currentMonth] = 'thisMonth' [currentYear] = 'thisYear' [daysOfMonth] = 'daysOfMonth'></app-month>
</div>