/* @media (min-width: 768px) {
.modal .modal-dialog.modal-left {
    left: 0
}
}
@media (min-width: 992px) {
.modal .modal-full-height {
    position: absolute;
    display: flex;
    margin: 0;
    height: auto;
    min-height: 100%;
    top: 0;
}
}

.modal.fade.left .modal-dialog{
    left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;

}
.modal.left.fade.show .modal-dialog{
    left: 0;
}

.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	} */