<!-- <button class="btn btn-outline-dark" style="position: absolute; right : 10px" (click)="printView()"><i class="fas fa-print"></i>Print</button> -->

<!-- Full Height Modal Left -->

        <ul class="list-group list-group-flush">
            <li class="list-group-item" routerLink='/'>Today</li>
            <li class="list-group-item" routerLink='/week'>My Weekly Plan</li>
            <li class="list-group-item" routerLink='/month'>My Monthly Plan</li>
            <li class="list-group-item" routerLink='/alltasks'>All Tasks</li>
            <li class="list-group-item">Fonts
              <ul class="nav nav-pills nav-fill">
                <li class="nav-item " (click)="changeFont('salmaregular')"  id="font1" >
                  <a class="nav-link active" data-toggle="pill" role="tab" aria-selected="true"
                  >Default</a>
                </li>
                <li class="nav-item" (click)="changeFont('Montserrat')"id="defaultFont">
                  <a class="nav-link" data-toggle="pill" role="tab"
                 >Style 1</a>
                </li>
                <li class="nav-item" (click)="changeFont('Love Ya Like A Sister')" id="font2">
                  <a class="nav-link" data-toggle="pill" role="tab"
                  >Style 2</a>
                </li>
              </ul>
            </li>
            <li class="list-group-item">Theme
              <ul class="nav nav-pills nav-fill">
                <li class="nav-item " (click)="changeTheme('#00c4cf')"  id="defaultColor">
                  <a class="nav-link active" data-toggle="pill" role="tab" aria-selected="true"
                 >Default</a>
                </li>
                <li class="nav-item" (click)="changeTheme('#f8a5c0')">
                  <a class="nav-link" data-toggle="pill" role="tab"
                  id="pinkColor">Pink</a>
                </li>
                <li class="nav-item" (click)="changeTheme('#fff')">
                  <a class="nav-link" data-toggle="pill" role="tab"
                  id="whiteColor">White</a>
                </li>
              </ul>
            </li>
          </ul>
      <div class="justify-content-center">
        <button type="button" class="btn btn-outline-light" routerLink='/feedback'
        tooltip='Help us improve by sending your feedback'><i class="far fa-edit"></i> Send feedback</button>        
        <button type="button" class="btn btn-outline-dark" (click)="logOut()">Log Out</button>
      </div>
   