*{
	/* background: #00c4cf */
}
.nav-link:hover{
	border:1px solid  #00c4cf;
	border-radius: 5px;

}
.nav-link.active {
    background-color: #00c4cf!important;
}
.nav-link.active#fonts {
    background-color: white!important;

}
#defaultFont{
	font-family: 'Montserrat', sans-serif;
	font-size: x-large

}

#font1 {
	font-family: 'salmaregular', cursive;
	font-size: x-large

}

#font2 {
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: x-large

}

#font3 {
	font-family: 'Sacramento', cursive;
	font-size: x-large
}

#pinkColor:hover {
	border:1px solid  #f8a5c0;
	border-radius: 5px;
}
#pinkColor.active {
	background-color: #f8a5c0!important;
}
#whiteColor:hover {
	border:1px solid  whitesmoke;
	border-radius: 5px;
}
#whiteColor.active {
	background-color: whitesmoke!important;
}

@media (min-width: 992px){
	.modal .modal-full-height {
		/* width: 500px; */
	}
}
.avatar {
	border-radius: 5px;
	border : 1px white solid;
}
.navmenu li.active, .navmenusmall li.active, .router-link.active {
    background-color: #00ABB6 !important;
    /* background : rgba(255,255,255,0.8); */
    border-color: #00c4cf !important

}
.list-group-item.active, .list-group-item:hover , .nav-link.active, .nav-link:hover{
    outline: none !important;
	border:1px solid #00c4cf;
	border-radius: 0px;
}

.navmenu li {
    background: #00c4cf;
}
li {
	padding-left: 10px;
	padding-right: 10px;
}