<!-- <button class="btn btn-outline-dark" style="position: absolute; right : 10px" (click)="printView()"><i class="fas fa-print"></i>Print</button> -->
<div class="d-none d-md-block col-md-4 col-lg-3" style="height: 100%; position: fixed;background-color: #00c4cf">
      <img src="../../assets/photos/plaiv_logo.png" style="width: 50%"/>
        <!-- <p>MENU</p> -->
        <hr>
        <div class="row">
          <div class="col-md-6 col-lg-5 ">
              <div class="avatar"
              [ngStyle]="{
              'background-image': 'url('+avatarUrl+ ')',
              'background-position': 'center',
              'background-size': 'cover',
              'background-repeat': 'no-repeat',
              'width' : '100%',
              
              'padding-top' : '100%'}" ></div>
          </div>
          <div class="col-md-6 col-lg-7">
            <div class="row">
              <div class="col">
                <h1>{{name}} </h1>
                <p>{{username_first}}</p>
              </div>
              <!-- <div class="col-4">
                <i class="fas fa-cog"></i>
              </div> -->
            </div>
          </div>
        </div>
        
        <hr>
        <ul class="list-group list-group-flush navmenu" style="color: white; text-shadow: 0 0 10px white">
            <li class="list-group-item border-top-0" routerLink='/' routerLinkActive="router-link-active">TODAY</li>
            <li class="list-group-item" routerLink='/week' routerLinkActive="router-link-active">MY WEEKLY TASKS</li>
            <li class="list-group-item" routerLink='/month'routerLinkActive="router-link-active">MY MONTHLY TASKS</li>
            <li class="list-group-item" routerLink='/all-tasks' routerLinkActive="router-link-active">All TASKS</li>
            
          </ul>
      <div class="row">
        <div class="col-md-12 mx-auto">
          <button type="button" class="btn btn-outline-light btn-sm" routerLink='/feedback'
          tooltip='Help us improve by sending your feedback'
          style="white-space: nowrap;width: 100%"><i class="far fa-edit"></i> Send feedback</button>        
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mx-auto">
          <button type="button" class="btn btn-outline-light btn-sm" routerLink='/support-us'
          style="white-space: nowrap;width: 100%">
            <i class="fas fa-donate"></i> Support Us
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
        <button type="button" style="width: 100%" class="btn btn-outline-dark" (click)="logOut()"><i class="fas fa-sign-out-alt"></i> Log Out</button>
        </div>
      </div>
<!-- <app-footer></app-footer> -->

    </div>
  <div class="d-md-none" style="background-color: #00c4cf ; width: 100%; position: fixed; z-index: 1;">
    <nav  class="navbar px-0">
      <!-- <div class="dropdown">
          <div class="avatar dropdown-toggle "  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
          [ngStyle]="{
          'background-image': 'url('+avatarUrl+ ')',
          'background-position': 'center',
          'background-size': 'cover',
          'background-repeat': 'no-repeat',
          'width' : '40px',
          
          'height' : '40px'}" ></div>
         
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item"  routerLink='/feedback'><i class="far fa-edit"></i> Feedback</a>
                <a class="dropdown-item"  routerLink='/support-us'><i class="fas fa-donate"></i> Support Us</a>
                <a class="dropdown-item" (click)='logOut()'><i class="fas fa-sign-out-alt"></i> Log Out</a>
              </div>
      </div> -->
    <ul class="nav justify-content-center navmenusmall"  style="text-align: center; height: 50px; color: white; text-shadow: 0 0 10px white">
      <li class="nav-item nav-link dropdown">
          <div class="avatar dropdown-toggle "  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
          [ngStyle]="{
          'background-image': 'url('+avatarUrl+ ')',
          'background-position': 'center',
          'background-size': 'cover',
          'background-repeat': 'no-repeat',
          'width' : '40px',
          
          'height' : '40px'}" ></div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item"  routerLink='/feedback'><i class="far fa-edit"></i> Feedback</a>
              <a class="dropdown-item"  routerLink='/support-us'><i class="fas fa-donate"></i> Support Us</a>
              <a class="dropdown-item" (click)='logOut()'><i class="fas fa-sign-out-alt"></i> Log Out</a>
            
            </div>
      </li>
      <li class="nav-item nav-link" routerLink='/'> TODAY
      </li>
      <li class="nav-item nav-link" routerLink='/week'>WEEK
      </li>
      <li class="nav-item nav-link" routerLink='/month'>MONTH
      </li>
      <li class="nav-item nav-link" routerLink='/all-tasks'> ALL
      </li>
    </ul>
  </nav>
  </div>
  