<!-- <li class="list-group-item" id="fonts">Fonts
              <ul class="list-group">
                <li class="list-group-item " (click)="changeFont('salmaregular')"  id="font1" >
                  <a class="" data-toggle="pill" role="tab" aria-selected="true"
                  >Default</a>
                </li>
                <li class="list-group-item" (click)="changeFont('Montserrat')"id="defaultFont">
                  <a class="" data-toggle="pill" role="tab"
                 >Style 1</a>
                </li>
                <li class="list-group-item" (click)="changeFont('Love Ya Like A Sister')" id="font2">
                  <a class="" data-toggle="pill" role="tab"
                  >Style 2</a>
                </li>
              </ul>
            </li> -->
            <!-- <li class="list-group-item">Theme
              <ul class="nav nav-pills nav-fill">
                <li class="nav-item " (click)="changeTheme('#00c4cf')"  id="defaultColor">
                  <a class="nav-link active" data-toggle="pill" role="tab" aria-selected="true"
                 >Default</a>
                </li>
                <li class="nav-item" (click)="changeTheme('#f8a5c0')">
                  <a class="nav-link" data-toggle="pill" role="tab"
                  id="pinkColor">Pink</a>
                </li>
                <li class="nav-item" (click)="changeTheme('#fff')">
                  <a class="nav-link" data-toggle="pill" role="tab"
                  id="whiteColor">White</a>
                </li>
              </ul>
            </li> -->