<div class="row">

<div class="col-md-4 col-sm-12 mx-auto">
    <h4>Monday</h4>
    <p>{{days[1]}}</p>
    <div class="md-form">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    </div>
</div>
<div class="col-md-4 col-sm-12">
    <h4>Tuesday</h4>
    <p>{{days[2]}}</p>
    <div class="md-form">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    </div>
</div>
<div class="col-md-4 col-sm-12">
    <h4>Wednesday</h4>
    <p>{{days[3]}}</p>
    <div class="md-form">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    </div>
</div>
<!-- </div> -->
<!-- <div class="row"> -->
<div class="col-md-4 col-sm-12">
    <h4>Thursday</h4>
    <p>{{days[4]}}</p>
    <div class="md-form">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    </div>
</div>
<div class="col-md-4 col-sm-12">
    <h4>Friday</h4>
    <p>{{days[5]}}</p>
    <div class="md-form">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    </div>
</div>
<div class="col-md-4 col-sm-12">
    <h4 tooltip="you shouldn't have tasks here">The Weekends</h4>
    <p>{{days[0]}},{{days[6]}}</p>
    <div class="md-form">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    <input type="text" id="form1" class="form-control">
    </div>
</div>
</div>