<div *ngIf="isLoggedIn" class="container-fluid px-0"  >
    <div class="row">
        <div class="col-md-4  col-xs-12" style="height: 50px; position: relative;">
            <app-nav (menuEvent)='receiveMenuEvent($event)'></app-nav>
        </div>
        
        <div class="col-md-8  col-xs-12"  style="height: 100vh">
<button class="btn btn-outline-dark" (click)='subscribeToNotifications()'>PUSH NOTI</button>

            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div *ngIf="!isLoggedIn" class="container-fluid" >
<button class="btn btn-outline-dark" (click)='subscribeToNotifications()'>PUSH NOTI</button>

    <app-login></app-login>
</div>
